<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - MediDex</title>
    <link rel="stylesheet" href="static\style.css">
    <script>
        function goToPage(page) {
            window.location.href = page;
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <img src="static\medidex_green.png" alt="MediDex" href="#">
        <div class="search-container">
            <form action="" method="post">
                <input type="text" placeholder="Search..." class="search-input", name="search-box">
                <button type="submit" id="search-button">Search</button>
            </form>
        </div>
        <button onclick="goToPage('/')">Home</button>
        <button onclick="goToPage('/about')">About</button>
        <button onclick="goToPage('/')">Index</button>
        <button onclick="goToPage('/about')">Contact</button>
        <div class="count-container">
            <h1>{{n}}</h1>
            <p>entries (and counting)</p>
        </div>
    </nav>

    <div class="content">
        <div class="section">
            <h2>About Us</h2>
            <p>
                MediDex's vision is to be an incredibly simple and uncomplicated platform to make accessing information
                about medications easy and simple.
                Lots of people who didn't grow up with technology understandably have a hard time keeping up with it and
                navigating the rapidly changing technological climate.
                Moreover, there are lots of people with disabilities or other accessibility concerns that make
                navigating the web difficult and time consuming.
                At MediDex, we hope to relieve these issues and provide a platform that is astonishingly simple to use.
            </p>
        </div>
        <div class="section-dark">
            <h2>Meet The Team</h2>
            <div class="three-wide">
                <div class="member">
                    <img src="imgs/placeholder.jpg" alt="placeholder">
                    <h3>Colin Heathcott</h3>
                    <p>Hello, I'm a high school senior from Tampa, Florida and aspiring doctor. 
                        In recent years, I've been interested in computer science and I figured that a place 
                        like MediDex would not only be a useful tool to many but also a unique intersection of 
                        two of my biggest interests.
                    </p>
                </div>
                <div class="member">
                    <img src="imgs/placeholder.jpg" alt="placeholder">
                    <h3>Nila Harish</h3>
                    <p>MediDex's vision is to be an incredibly simple and uncomplicated platform to make accessing
                        information
                        about medications easy and simple.
                    </p>
                </div>
                <div class="member">
                    <img src="imgs/placeholder.jpg" alt="placeholder">
                    <h3>Matteus Espinola</h3>
                    <p>I’m a Grade 12 high school student from Toronto, Canada, I like all thing things medicine, 
                        and I’m an aspiring physician. I’m inspired to make the healthcare space more accessible, 
                        effective and active within patient life. The creation of MediDex is a project to serve the 
                        people closest to us along with thousands of others, along with allowing us to simultaneously 
                        express our biggest passions in life.
                    </p>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Contact</h2>
            <p>
                Any issues or errors you experience should be reported to 'support@medidex.net' and from there we will be able to assist you.
            </p>
        </div>
        <div class="section-dark">
            <h2>Disclaimer</h2>
            <p>
                MediDex and it's developers are not responsible for any accidents involving medication. Always double check vital information with accredited sources (which are most often listed at the bottom of the medication's page)
            </p>
        </div>
    </div>
</body>

</html>