<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{name}} - Medidex</title>
    <link rel="stylesheet" href="static\style.css">
    <script>
        function goToPage(page) {
            window.location.href = page;
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <img src="static\medidex_green.png" alt="MediDex" href="#">
        <div class="search-container">
            <form action="" method="post">
                <input type="text" placeholder="Search..." class="search-input", name="search-box">
                <button type="submit" id="search-button">Search</button>
            </form>
        </div>
        <button onclick="goToPage('/')">Home</button>
        <button onclick="goToPage('/')">About</button>
        <button onclick="goToPage('/')">Index</button>
        <button onclick="goToPage('/')">Contact</button>
        <div class="count-container">
            <h1>{{n}}</h1>
            <p>entries (and counting)</p>
        </div>
    </nav>

    <div class="content">
        <!-- Tags -->
        {% for tag in tags %}
            <div class="tag">
                <p>{{tag}}</p>
            </div>
        {% endfor %}

        <div class="header">
            <h1>{{name}}</h1>
            <p>{{clas}}</p>
        </div>
        <h3>Use Case</h3>
        <p>{{use}}</p>
        <h3>Function</h3>
        <p>{{func}}</p>
        <h3>How It's Administered</h3>
        <p>{{routes}}</p>
        <h3>Side Effects</h3>
        <p>{{effects}}</p>
        <h3>Serious Side Effects</h3>
        <p><strong>If you have any of these symptoms, you should see a doctor immediately or go to the Emergency Department</strong></p>
        <p>{{serious_effects}}</p>
        <h3>Other Information</h3>
        <p>{{other}}</p>
        <h3>Brands</h3>
        <p>{{brands}}</p>
        <h3>Citations</h3>
        {% for cit in citations %}
            <div class="citation">
                <h1>{{cit['uid']}}. {{cit['source']}}</h1>
                <p>{{cit['title']}}</p>
                <a href="{{cit['link']}}">Click to read more</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>