<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - MediDex</title>
    <link rel="stylesheet" href="static\style.css">
    <script>
        function goToPage(page) {
            window.location.href = page;
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <img src="static\medidex_green.png" alt="MediDex" href="#">
        <div class="search-container">
            <form action="" method="post">
                <input type="text" placeholder="Search..." class="search-input", name="search-box">
                <button type="submit" id="search-button">Search</button>
            </form>
        </div>
        <button onclick="goToPage('/')">Home</button>
        <button onclick="goToPage('/')">About</button>
        <button onclick="goToPage('/')">Index</button>
        <button onclick="goToPage('/')">Contact</button>
        <div class="count-container">
            <h1>{{n}}</h1>
            <p>entries (and counting)</p>
        </div>
    </nav>

    <div class="content">
        <div class="section">
            <h2>What is MediDex?</h2>
            <p>
                MediDex is a website designed to make finding accurate and understandable information about your
                medications easier. Here at MediDex, we focus on accessibility and ease of use, so you can skip
                the nonsense and get straight to what's important to you.
            </p>
            <p>
                In addition to this, we also place a heavy focus on access to more detailed reading. MediDex is a
                summary
                of most medications, and while that is sufficient in some scenarios, it's always best to get more
                information
                about your medications. For that, we link all of our references and sources on each medication's page,
                along with
                other resources that we think are relevant.
            </p>
        </div>
        <div class="section-dark">
            <h2>How Do I Find My Medications?</h2>
            <p>
                At the top of the website is a search bar. Just type in the name of your medication and press the button
                right next to the search bar. You'll be taken to a new page with all the related pages to that
                medication. From there, find the one you're looking for and click on it. That's it!
            </p>
            <p>
                Don'y worry if you don't know the generic name of your drug, MediDex has searches by brand names as
                well, and we'll let you know which medication is yours if you're searching by brand name. If for
                whatever reason you can't find your medication, click the button on the results page that say "I
                couldn't find my medication" and we'll add it to the priority list of medications to add.
            </p>
            <p>
                If you're interested in learning more about a specific type of medication or other attributes, you can
                search by drug classes (e.g. "anti-emetic").
            </p>
        </div>
    </div>
</body>

</html>