<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for '{{param}}' - Medidex</title>
    <link rel="stylesheet" href="static\style.css">
    <script>
        function goToPage(page) {
            window.location.href = page;
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <img src="static\medidex_green.png" alt="MediDex" href="#">
        <div class="search-container">
            <form action="" method="post">
                <input type="text" placeholder="Search..." class="search-input", name="search-box">
                <button type="submit" id="search-button">Search</button>
            </form>
        </div>
        <button onclick="goToPage('/')">Home</button>
        <button onclick="goToPage('/')">About</button>
        <button onclick="goToPage('/')">Index</button>
        <button onclick="goToPage('/')">Contact</button>
        <div class="count-container">
            <h1>{{n}}</h1>
            <p>entries (and counting)</p>
        </div>
    </nav>

    <div class="content">
        <div class="header">
            <h1>Search Results</h1>
            <p>Displaying {{n}} results</p>
        </div>

        {% for res in results %}
            <div class="result">
                <div class="result-left">
                    <h2>{{res['name']}}</h2>
                    <p>{{res['truncated']}}</p>
                </div>
                <div class="result-right">
                    <a href="/{{res['namelower']}}">
                        <button id="result-view">View More</button>
                    </a>
                    
                </div>
            </div>
        {% endfor %}
    </div>

</body>

</html>